.objtable {
  border-collapse: collapse;
  thead {
    text-align: center;
  }

  & td {
    border: 1px solid lightblue;
    padding: .3em;
  }
  & th {
    border: 1px solid lightblue;
    padding: .3em;
    text-wrap: nowrap;
  }
}